.nav_header{
    background: #2469af;
    color:white;
    min-width: 750px;
}

.div_header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div_images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 200px;
}
.logo_ziziteurs{
    height: 130px;
}
.logo_site{
    height:100px;
}

.menu_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #153a5f;
    height: 60px;
    /*background-image: url(../../medias/wave.svg);*/
}

.menu_tab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    cursor: pointer;

}
.element_menu{
    will-change: transform;
    border-radius: 6%;
}
.element_menu:hover{
    transform: scale(1.1);
    background-color: #fff;
    color: #153a5f;
    transition: all 0.5s ease;
}

.lien_home{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px){
    /*responsive quand l'écran est trop petit*/
}